html {
    font-family: "Noto Sans", "Brush Script MT"; color: rgba(0,0,0,0.65);
    background-color: white;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

/* The nav section of coding; including home page link and site links. */
/* Nav Section*/

nav {
}

nav .container{
    border: 1px solid red;
    padding: 0 24px;
   /* background-color: #f0f0f0;*/
    display: flex;
    align-items: center;
    height: 64px;
}

nav .container .icon {
    /* Three sections; icon, tm, and links.*/
    /*border: 1px solid blue;*/
    /*background-color: wheat;*/
    /*height: 32px;*/
    /*width: 64px;*/
    display: inline-flex;
}

#icon {
    /*The icon*/
    height: 36px;
}
nav .container .tm {
    /* Three sections; icon, tm, and links.*/
/*    border: 1px solid black;
*/    /*background-color: wheat;*/
    /*height: 32px;*/
   /* width: 64px;*/
    display: flex;
    display: inline-flex;
    padding: 0 0;
    font-size: .5625rem;
}

#tmA {
    /*"Colmar"*/
    font-weight: bold;
}

#tmB{
    /*"Academy"*/
    color: gray;
    font-weight: 400;
}

nav .container .links {
    /* Three sections; icon, tm, and links.*/
    margin-left: auto;
    /*border: 1px solid green;
    background-color: wheat;*/
    /*height: 32px;*/
    display: flex;
    padding: 16px 0;
    gap: 16px;
    font-size: .5rem;
}

nav .container .links .links-txt {
    /*border: 1px solid blue;*/
}

/* Banner section of coding; including banner image and start here. */

body {
}
